/*-----------------
 * Button
-------------------*/
a ,
button {
    &.rn-button {
        text-decoration: none;
        color: #fff;
        background-color: var(--color-primary);
        display: inline-block;
        padding: 8px 30px;
        line-height: 2;
        overflow: hidden;
        position: relative;
        z-index: 1;
        @extend %radius;
        font-weight: var(--s-regular);
        font-family: var(--font-secondary);
        @extend %transition;
        outline: none;
        border: 0;
        span {
            position: relative;
            z-index: 2;
        }
        &::before {
            position: absolute;
            content: "";
            top: 0px;
            height: 100%;
            left: -25%;
            width: 0%;
            background-color: #000;
            transform: skew(50deg);
            transition-duration: .6s;
            z-index: -1;
            @extend %radius;
        }
        &.btn-white {
            background-color: var(--color-white);
            color: var(--color-extra03);
            span {
                color: var(--color-extra03);
            }
            &:hover {
                color: var(--color-extra04);
                span {
                    color: var(--color-extra04);
                }
            }
        }
        &:hover {
            color: #fff;
            &::before {
                width: 150%;
            }
        }
    }
}




/*-----------------
    Link Button  
-------------------*/
a {
    &.link-button {
        padding: 0;
        padding-top: 9px;
        padding-bottom: 9px;
        display: inline-block;
        font-family: var(--font-secondary);
        @extend %transition;
        span {
            position: relative;
            display: inline-block;
            &::after {
                background: var(--color-extra02);
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                height: 1px;
                width: 100%;
                @extend %transition;
            }
        }
        &:hover {
            span {
                &::after {
                    background: var(--color-primary);
                }
            }
        }
    }
}

/* Button Group  */
.button-group {
    margin: 0 -8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: -16px;
    a ,
    button {
        margin: 0px 8px;
        display: inline-block;
        margin-bottom: 16px;
    }
}

/*----------------------
    Read More Button  
-----------------------*/
a {
    &.readmore-btn {
        border-bottom: 1px solid transparent;
        transition: all .3s ease;
        font-size: 16px;
        color: var(--color-primary);
        letter-spacing: 0;
        &:hover {
            border-bottom-color: var(--color-primary);
        }
    }
}


